.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  border-bottom: 1px solid black;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 40px;
  justify-content: space-between;
}

.logo {
  color: MediumAquamarine;
  display: inline-flex;
  align-items: center;
  padding-left: 20px;

}

.logo p {
  padding-left: 10px;
}

nav span {
  text-decoration: underline;
  display: inline-flex;
  padding: 10px;
}

/*main*/

.main {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin: 50px;
}

.column {
  display: flex;
  justify-content: space-between;

}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.column .large {
  width: 630px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.story {

}

.cover {
  width: 100%;
}

.column .large .story {
  width: 300px;
  height: 300px;
  padding: 20px 0px;
  justify-content: space-around;


}


.phish {
  background-image: url("../../resources/images/img-story-main-phish.png");
  display: flex;
  height: 300px;
  align-items: center;
  background-repeat: no-repeat;
}

.phish p {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  text-align: left;
  padding: 0 30px;
}


.image {
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
}

.image p {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;

}

.earth {
  background-image: url("../../resources/images/img-earth-fall.png");
  background-repeat: no-repeat;
}

.camera {
  background-image: url("../../resources/images/img-camera.png");
  background-repeat: no-repeat;
}

.cat {
    background-image: url("../../resources/images/img-cat-ceo.png");
    background-repeat: no-repeat;
}




.column .medium {
  display: block;
  width: 300px;
  justify-content: center;

}

.column .medium .story {
  padding: 10px 0px;
}


.column .small {
  display: block;
  width: 240px;
  flex-direction: column;
  text-align: center;
}

.news-bites {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;

}

span.bite {
  display: block;
  list-style-type: none;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  padding: 11px;

}
.bite {
  padding-top: 11px;
  align-content: center;
  border-bottom: 1px solid black;

}


/*footer*/

.footer {
  display: flex;
  width: 100%;
  height: 325px;
  background-color: MediumAquamarine;
  margin: auto;
  justify-content: center;
  align-items: center;



}

#info p {
  display: inline-flex;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 10px;
  border-right: 1px solid white;
}



#links {
  display: inline-flex;
  font-family: Verdana;
  font-size: 12px;
  color: black;

}

#copyright p{
  display: block;
  font-family: Verdana;
  font-size: 12px;
  color: black;
  flex-wrap: wrap;

}
